@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-weight:400;
}

* {
      margin: 0;
      padding: 0;
}

 /*------------------------------- Template-CSS------------------------------- */
.display-flex {
      display: flex;
}
.begi-color {
      background-color: rgba(255, 144, 14, 0.1);
}
.dark-01 {
      color: #131313;
}
.dark-02 {
      color: #424242;
}
.dark-03 {
      color: #727272;
}

.btn-primary {
      padding: 12px 16px;
      background-color: #FF900E;
      color: white;
      border: none;
      border-radius: 8px;

}

.section-title {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 17px;
}
/* --------------------------------------------------------------------- */
/* --------------------------------HEADER SECTION--------------------------- */
.navbar {
      padding: 15px;
      align-items: center;
      justify-content: space-between;
      
}
.banner, .navbar {
      width: 1100px;
      margin: 0px auto;
}

.navbar > h2 {
      font-size: 1.8rem;
      font-weight: bold;
}
.nav-links {
      gap: 45px;
}
.nav-item {
      list-style: none;
}
.nav-link {
      text-decoration: none;
}
 .banner-img {
      width: 1100px;
       height: auto;
       margin-bottom: 25px;
}
.banner-content {
      width: 600px;
      margin: 0 auto;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 30px;
      line-height: 50px;

      
}
.banner-title {
      font-weight: bold;
      font-size: 2.5rem;
}
.banner-description {
      font-size: 10px;
      line-height: 16px;
}

/* --------------------------------------------------------------------------- */

/*---------------------------------- MAIN SECTION-------------------------------- */
/* ---------------------------------features section------------------------ */
 main {
      max-width: 1200px;
      margin: 0 auto;
 }
 main > section {
      margin-top: 80px;
 }
 .teams {
      align-items: center;
      gap: 55px;
      height: 100vh;
 }
.team-img-container {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 24px;
}
 .features {
      display: flex;
      flex-direction: column;
      gap: 17px;
}
.feature-title {
      font-size: 2.4rem;

}

#of-our {
      font-weight: 700;
}
#feature-color {
      color: #FF900E;
}
/* ---------------------------------------------------------------------- */
/* ------------------------Feature ypu will enjoy section--------------- */
.enjoyble-features {
      display: flex;
      flex-direction: row;
      gap: 100px;
      align-items: center;
      justify-content: center;
      margin-bottom: 130px;
      margin-top: 130px;
}
.feature-info-container {
      max-width: 45%;
}
.one-line-border {
      border-left: 4px solid #FF900E;
      padding-left: 16px;
}
.feature-description {
      margin-bottom: 20px;
}
.feature-info-card {
         padding: 22px;
         border: none;
         border-radius: 8px;
         background-color: #FFFFFF;
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
         margin-bottom: 14px;
        
}
.feature-info-card-title {
      font-size:13px ;
      font-weight:600 ;
      padding-bottom: 5px;
}
.architecture-img {
      position: relative;
}
.architecture-img img {
      max-width: 100%;
      max-height: 630px;
}
.experience-box {
      position: absolute;
      bottom: -45px;
      left: -60px;
      color: #FFFFFF;
      background-color: #FF900E;
      border: none;
      border-radius: 8px;
      padding: 32px 29px;
      max-width: 190px;
      text-align: center;

}
.box-large-txt {
      font-size: 2.3rem;
      font-weight: bold;
}
.box-small-txt {
        font-size: 1.1rem;
        font-weight: 500;
}
.feature-info {
      max-width : 430px;
      margin: 0 auto;
      margin-bottom: 30px;
}

/* --------------------------------some-facts section---------------------- */


.fact-description {
      max-width: 450px;
}

.fact-container{
      
      max-width: 990px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      margin: 85px auto;
      
     gap: 95px;
      
      
}
.fact-card {

      flex-direction: column;
      border: 1px solid #FF900E;
      border-radius: 8px;
      width: 100%;
      height: 169px;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 5px;
}
.fact-value {
      font-size: 38px;
      font-weight: 600;
}
.fact  {
      font-size: 13px;
      font-weight: 600;
}
/* -------------------------------------------------------------------- */
/* --------------------------------- SPONSOR-SECTION ----------------- */
.sponsor-info {
      max-width : 430px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 45px;
}
.sponsored-by {
     display: grid;
     grid-template-columns: repeat(5,1fr);
     gap: 95px;
     margin-bottom: 100px;
}
.sponsored-by img {
      filter: grayscale(100);
}
.hide {
      display:none;
}
/* ------------------------------------RESPONSIVE -------------------------- */

@media screen and (max-width:576px) {

      .navbar, 
      .nav-links,
      .teams {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            align-items: center;
            margin: 0;
            padding: 0;
            
      }
      .banner, 
      .navbar {
            max-width: 100vw;
        margin-bottom: 20px;

      }
          .banner-content {
            width: 100%;
            margin-bottom: 20px;
            line-height: 55px;
          }
          .banner-img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
          }
          .teams {
            height: auto;
            
          }
      .team-img-container {
            grid-template-columns: repeat(1,1fr);
      }
      .features {
            margin: 20px;
      }
      .fact-info,
      .sponsors {
            text-align: center;
            padding: 10px;
            margin: 0px auto;
      }
      .fact-container {
          grid-template-columns: repeat(1,1fr);
          gap: 15px;
          padding: 20px;
      }
      .fact-card {
            width: 100%;
      }
      .sponsored-by {
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
      }


}

/*------------------------------- Mid-range devices---------------------- */

@media screen and (min-width:576px) and (max-width:992px) {
   
      .banner, .navbar {
           margin: 0;
           padding: 0;
            width: 100vw;
      }
      
      .navbar, .nav-links {
            flex-direction: column;
            gap: 15px;
      }
      .banner-img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
          }
          .teams {
            flex-direction: column;
            width: 100vw;
            height: auto;
          }
          .features {
            width: 80%;
            margin: 0 auto;
           align-items: flex-start;

          }
           .fact-info {
            text-align: center;
            width: 50%;
            margin: 0 auto;
           }
          .fact-container {
            grid-template-columns: repeat(2,1fr);
            width: 80%;
            gap: 30px;
          }
          .fact-card {
            width:100%;
          }
          .sponsored-by {
            
            width: 70%;
            margin: 45px auto;
               grid-template-columns: repeat(2,1fr);
               align-items: center;
               justify-items: center;
               gap: 50px;
               
          }          
          
}  