@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-weight:400;
}

* {
      margin: 0;
      padding: 0;
}

 /*------------------------------- Template-CSS------------------------------- */
.display-flex {
      display: flex;
}
.begi-color {
      background-color: rgba(255, 144, 14, 0.1);
}
.dark-01 {
      color: #131313;
}
.dark-02 {
      color: #424242;
}
.dark-03 {
      color: #727272;
}

.btn-primary {
      padding: 12px 16px;
      background-color: #FF900E;
      color: white;
      border: none;
      border-radius: 8px;

}

.section-title {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 17px;
}
/* --------------------------------------------------------------------- */
/* --------------------------------HEADER SECTION--------------------------- */
.navbar {
      padding: 15px;
      align-items: center;
      justify-content: space-between;
      
}
.banner, .navbar {
      width: 1100px;
      margin: 0px auto;
}

.navbar > h2 {
      font-size: 1.8rem;
      font-weight: bold;
}
.nav-links {
      gap: 45px;
}
.nav-item {
      list-style: none;
}
.nav-link {
      text-decoration: none;
}
 .banner-img {
      width: 1100px;
       height: auto;
       margin-bottom: 25px;
}
.banner-content {
      width: 600px;
      margin: 0 auto;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 30px;
      line-height: 50px;

      
}
.banner-title {
      font-weight: bold;
      font-size: 2.5rem;
}
.banner-description {
      font-size: 10px;
      line-height: 16px;
}

/* --------------------------------------------------------------------------- */

/*---------------------------------- MAIN SECTION-------------------------------- */
/* ---------------------------------features section------------------------ */
 main {
      max-width: 1200px;
      margin: 0 auto;
 }
 main > section {
      margin-top: 80px;
 }
 .teams {
      align-items: center;
      gap: 55px;
      height: 100vh;
 }
.team-img-container {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 24px;
}
 .features {
      display: flex;
      flex-direction: column;
      gap: 17px;
}
.feature-title {
      font-size: 2.4rem;

}

#of-our {
      font-weight: 700;
}
#feature-color {
      color: #FF900E;
}
/* ---------------------------------------------------------------------- */

/* --------------------------------some-facts section---------------------- */
.some-facts {
      height: 100vh;
}

.fact-description {
      max-width: 450px;
}

.fact-container{
      
      max-width: 990px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      margin: 85px auto;
      
     gap: 95px;
      
      
}
.fact-card {

      flex-direction: column;
      border: 1px solid #FF900E;
      border-radius: 8px;
      width: 100%;
      height: 169px;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 5px;
}
.fact-value {
      font-size: 38px;
      font-weight: 600;
}
.fact  {
      font-size: 13px;
      font-weight: 600;
}
/* -------------------------------------------------------------------- */
/* --------------------------------- SPONSOR-SECTION ----------------- */


/* ------------------------------------RESPONSIVE -------------------------- */

@media screen and (max-width:576px) {

      .navbar, 
      .nav-links,
      .teams {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            align-items: center;
            margin: 0;
            padding: 0;
            
      }
      .banner, 
      .navbar {
            max-width: 100vw;
        margin-bottom: 20px;

      }
          .banner-content {
            width: 100%;
            margin-bottom: 20px;
            line-height: 55px;
          }
          .banner-img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
          }
      .team-img-container {
            grid-template-columns: repeat(1,1fr);
      }
      .features {
            margin: 20px;
      }

}

/*------------------------------- Mid-range devices---------------------- */

@media screen and (min-width:576px) and (max-width:992px) {
      
      .banner, .navbar {
           margin: 0;
           padding: 0;
            width: 100vw;
      }
      
      .navbar, .nav-links {
            flex-direction: column;
            gap: 15px;
      }
      .banner-img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
          }
          .teams {
            flex-direction: column;
            width: 100vw;
            height: auto;
          
            
            
            
          }
          .features {
            width: 80%;
            margin: 0 auto;
           align-items: flex-start;

          }
          
          
          
}  